{% extends "base.html" %}
{% load widget_tweaks %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            $('#add-staff-form').click(function(e) {
                e.preventDefault();
                AddInlineForm('#staff-formset tr:first', 'staff_set');
            });
        })
    </script>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="span12">
                <h3 class="text-center">Создать организацию</h3>
            </div>
        </div><!-- end row -->
        <div class="row">
            <div class="span12">
                <form method="POST" action="" class="form-horizontal">{% csrf_token %}
                {% if form.non_field_errors %}
                <ul class="alert alert-error">
                    {% for error in form.non_field_errors %}
                        <li class="text-center">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% for field in form %}
                    <div class="control-group well">
                        {{ field.errors }}
                        <label class="control-label {% if field.errors %}text-error{% endif %}" for=""><strong>{{ field.label }}:</strong></label>
                        <div class="controls">
                            {{ field|add_class:'span3'|add_error_class:"error" }}
                            <i class="help-inline">{{ field.help_text }}</i>
                        </div>
                    </div>
                {% endfor %}
                <h3 class="text-center">Сотрудники</h3>
                {{ formset.management_form }}
                <table style="width:100%;" class="well" id="staff-formset">
                    {% for form in formset %}
                        <tr>
                            {% for field in form %}
                                <td style="vertical-align:bottom;">
                                    <div class="form-inline" style="padding:20px;">
                                        {{ field.errors }}
                                        <strong>{{ field.label }}:</strong>
                                        {{ field|add_class:'span3'|add_error_class:"error" }}
                                    </div>
                                </td>
                            {% endfor %}   
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="0" style="padding: 0px 20px 5px;"><a href="#" id="add-staff-form"><i class="icon-plus"></i> Добавить ещё одного сотрудника</a></td>
                    </tr>
                </table>

                <div class="form-actions">
                    <div class="text-right">
                        <button type="submit" name="save-continue" value="save-continue" class="btn">Сохранить и продолжить</button>
                        <button type="submit" name="save" value="save" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
                </form>
            </div>
        </div><!-- end row -->
{% endblock %}