{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span12">
        <h3 class="text-center">Удаление</h3>
        <form action="" method="post" class="text-center">{% csrf_token %}
            <p>Вы уверены что хотите удалить "{{ object }}"?</p>
            <input type="submit" class="btn btn-danger btn-small" value="Подтвердить" />
        </form>
    </div>
</div><!-- end row -->
{% endblock %}