{% extends "base.html" %}
{% load task_tags %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Library</a> <span class="divider">/</span></li>
        <li class="active">Data</li>
    </ul>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="span4">
                <h3>Специализации</h3>
            </div>
            <div class="offset6 span2">
                <a href="{% url 'tasks:job_add' %}" class="btn btn-success btn-block" style="margin: 10px 0;">Создать</a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название должности</th>
                            <th>Права доступа</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'tasks:job_edit' job.id %}">{{ job.title }}</a></td>
                            <td>
                                {% for item in job.permission.all %}
                                    {{ item }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                            <td><a href="{% url 'tasks:job_edit' job.id %}"><i class="icon-pencil" title="Редактировать"></i></a></td>
                            <td><a href="{% url 'tasks:job_delete' job.id %}"><i class="icon-remove" title="Удалить"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- end row -->
{% endblock %}
