{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
        <div class="row">
            <div class="span12">
                <h3 class="text-center">Специализация</h3>
            </div>
        </div><!-- end row -->
        <div class="row">
            <div class="span12">
                <form method="POST" action="" class="form-horizontal">{% csrf_token %}
                {% if form.non_field_errors %}
                <ul class="alert alert-error">
                    {% for error in form.non_field_errors %}
                        <li class="text-center">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% for field in form %}
                    <div class="control-group well">
                        {{ field.errors }}
                        <label class="control-label {% if field.errors %}text-error{% endif %}" for=""><strong>{{ field.label }}:</strong></label>
                        <div class="controls">
                            {{ field|add_class:'span3'|add_error_class:"error" }}
                            <i class="help-inline">{{ field.help_text }}</i>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-actions">
                    <div class="text-right">
                        <button type="submit" name="save-continue" value="save-continue" class="btn">Сохранить и продолжить</button>
                        <button type="submit" name="save" value="save" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
                </form>
            </div>
        </div><!-- end row -->
{% endblock %}