{% extends "base.html" %}
{% block content %}
        <div class="row">
            <div class="span12">
                {% for organization in organizations %}
                <p>{{ organization.title }}</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Сайт</th>
                            <th>Сервис</th>
                            <th>Настройки</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>1</td>
                          <td>mebelir.ru <a href="#">(+2)</a></td>
                          <td><a href="#">Заявки</a></td>
                          <td><a href="#">Перейти</a></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>registrationcom.ru</td>
                          <td><a href="#">Заявки</a></td>
                          <td><a href="#">Перейти</a></td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>ekipage-avto.ru <a href="#">(+1)</a></td>
                          <td><a href="#">Заявки</a></td>
                          <td><a href="#">Перейти</a></td>
                        </tr>
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div><!-- end row -->
{% endblock %}
