{% extends "base.html" %}
{% load widget_tweaks %}

{% block navbar %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
<div class="row">
    <div class="span6 offset3">
        <form method="POST" action="" class="form-horizontal well">{% csrf_token %}
            <p class="lead text-center">Вход</p>
            {% if form.non_field_errors %}
            <ul class="alert alert-error">
                {% for error in form.non_field_errors %}
                <li class="text-center">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% for field in form %}
                <div class="control-group">
                    {{ field.errors }}
                    <label class="control-label {% if field.errors %}text-error{% endif %}" for=""><strong>{{ field.label }}:</strong></label>
                    <div class="controls">
                        {{ field|add_class:'span3'|add_error_class:"error" }}
                        <i class="help-inline">{{ field.help_text }}</i>
                    </div>
                </div>
            {% endfor %}
            <div class="form-actions">
                <div class="text-right">
                    <a class="btn" href="{% url 'accounts:signup' %}">Создать аккаунт</a>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- end row -->
{% endblock %}
