html,
body {
    height: 100%;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
}

#wrap {
    height: auto; 
    min-height: 100%;
}

#footer {
    position: relative;
    margin-top: -35px;
    height: 35px;
    clear:both;
}

/*------------------Plustrap---------------------*/

.navbar-inner {
    border-radius: 0 0 2px 2px;
}

.control-group ul.errorlist li {
    padding-left: 140px;
    color: #B94A48;
}

.errorlist {
    color: #B94A48;
}

/*-------------------Globals---------------------*/
.text-error {
    color: #B94A48;
}

input.error, select.error, textarea.error {
    border-color: #B94A48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #B94A48;
}

input.error:focus, select.error:focus, textarea.error:focus {
    border-color: #702C2B;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center; 
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */ 



