{% load staticfiles %}
<!doctype html>
<html lang="us">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    <link href="{% static "css/reset.css" %}" rel="stylesheet">
    <link href="{% static "css/plusstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/chosen.css" %}" rel="stylesheet">
    {% endblock %}

    <link href="{% static "css/custom.css" %}" rel="stylesheet">

    {% block js %}
    <script src="{% static "js/jquery-1.9.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/chosen.jquery.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% endblock %}

</head>
<body>
<div id="wrap">
    <div class="container">
        {% block navbar %}
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Title</a>
                <ul class="nav">
                    <li><a href="{% url 'tasks:organization_add' %}">Создать организацию</a></li>
                    <li><a href="{% url 'tasks:job_list' %}">Специализации</a></li>
                    {#<li><a href="{% url 'tasks:ticket_add' %}">Добавить сайт</a></li>#}
                </ul>
                <ul class="nav pull-right">
                    <li><a href="#">Профиль</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Выход</a></li>
                </ul>
            </div>
        </div><!-- end navbar -->
        {% endblock %}
        {% block breadcrumbs %}
        {% endblock %}
        {% block messages %}
        {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endblock %}
        {% block content %}
        <div class="row">
            <div class="span12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Сайт</th>
                            <th>Сервис</th>
                            <th>Настройки</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>1</td>
                          <td>mebelir.ru <a href="#">(+2)</a></td>
                          <td><a href="#">Заявки</a></td>
                          <td><a href="#">Перейти</a></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>registrationcom.ru</td>
                          <td><a href="#">Заявки</a></td>
                          <td><a href="#">Перейти</a></td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>ekipage-avto.ru <a href="#">(+1)</a></td>
                          <td><a href="#">Заявки</a></td>
                          <td><a href="#">Перейти</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- end row -->
        {% endblock %}
    </div><!-- end container -->
    <div class="clearfix"></div>
</div>

<div id="footer">
    <div class="container">
        {% block footer %}
        <div class="row">
            <div class="span12">
                <p>© Artem Gruzd</p>
            </div>
        </div>
        {% endblock %}
    </div><!-- end container -->
</div>

</body>
</html>
